<div>
  <form class="w-100 me-3" role="search">
    <input type="search" class="form-control" placeholder="Search..." aria-label="Search"
      (keyup)="onSearchChange($event)" (search)="onSearchChange($event)" />
  </form>
</div>

<div class="wrapper">
  <div *ngFor="let pokemon of pokemonFullObjects; let i = index" class="col-md-6">
    <div class="card mb-3" [routerLink]="['/pokemon']" [state]="[{pokemon}]">
      <div class="card-body">
        <div class="row">
          <div class="col-7 col-sm-8">
            <h3 class="card-title">{{ pokemon.name | titlecase }}</h3>
            <h6>Type/s</h6>
            <span *ngFor="let type of pokemon.types" class="badge rounded-pill bg-primary">
              {{ type.type.name | titlecase }}
            </span>
          </div>
          <div class="col-5 col-sm-4">
            <!-- <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ pokemon.id }}.png"
            class="img-fluid" alt="..."> -->
            <img src="{{ pokemon.sprites.other.home.front_default }}" class="img-fluid" alt="...">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
